<header class="text-center">
  <!-- navbar with pages links -->
  <h1 class="mt-1 mb-1">MUSIC CENTRE</h1>
  <nav class="m-auto">
    <ul class="d-flex justify-between no-list-style">
      <li><a class="no-text-decoration" href="/">HOME</a></li>
      <li><a class="no-text-decoration" href="/strumenti">STRUMENTI</a></li>
      <li><a class="no-text-decoration" href="/concerti">CONCERTI</a></li>
      <li><a class="no-text-decoration" href="/strumenti/chitarre">CHITARRE</a></li>
      <li><a class="no-text-decoration" href="/strumenti/batterie">BATTERIE</a></li>
      <li><a class="no-text-decoration" href="/strumenti/bassi">BASSI</a></li>
      <li><a class="no-text-decoration" href="/login">ACCEDI</a></li>
    </ul>
  </nav>
</header>