<header class="text-center">
  <!-- navbar with pages links -->
  <h1 class="mt-2 mb-1">MUSIC CENTRE</h1>
  <nav class="m-auto">
    <ul class="d-flex justify-between no-list-style mb-1">
      <li><a class="no-text-decoration" href="/">HOME</a></li>
      <li><a class="no-text-decoration" href="/strumenti">STRUMENTI</a></li>
      <li><a class="no-text-decoration" href="/concerti">CONCERTI</a></li>
      <li><a class="no-text-decoration" href="/strumenti/chitarre">CHITARRE</a></li>
      <li><a class="no-text-decoration" href="/strumenti/batterie">BATTERIE</a></li>
      <li><a class="no-text-decoration" href="/strumenti/bassi">BASSI</a></li>
      {%if session.username%}
        <li><a class="no-text-decoration" href="/logout">User: {{session.username}} | LOGOUT</a></li>
      {%else%}
        <li><a class="no-text-decoration" href="/login">ACCEDI</a></li>
      {%endif%}
      {%if session.username == 'admin'%}
      <li class="mt-2"><a class="no-text-decoration" href="/create-instrument"> Aggiungi Strumento</a></li>
      <li class="mt-2"><a class="no-text-decoration" href="/create-concert"> Aggiungi Concerto</a></li>
      {%endif%}
    </ul>
  </nav>
</header>