{%extends 'base.html'%}
{%block mainblock%}
  <h2 class="text-center">BASSI:</h2>
  <ul class="d-flex justify-start no-list-style">
    {%for i in range(24)%}
      <li class="card">
        <a class="center-content" href="/strumenti/bassi/{{i + 1}}">
          <h3 class="card-title"> Basso {{i + 1}}</h3>
          <div class="card-image-wrapper">
            <img class="card-image" src="/static/default.jpg" alt="Basso {{i + 1}}">
          </div>
          <p class="card-price italic">Prezzo: <span class="semibold">200.00€</span></p>
        </a>
      </li>
    {%endfor%}
  </ul>
{%endblock%}