{%extends 'base.html'%}
{%block mainblock%}
  <h2 class="text-center mt-3">BATTERIE:</h2>
  {%if drums%}
  <ul class="d-flex justify-start no-list-style">
  {%for d in drums%}
    <li class="card">
      <a class="center-content" href="/strumenti/chitarre/{{d.id}}">
        <h3 class="card-title"> {{d.name}}</h3>
        <div class="card-image-wrapper">
          <img class="card-image" src="/static/images/{{d.image_url}}" alt="{{d.name}}">
        </div>
        <p class="card-price italic">Prezzo: <span class="semibold">{{d.price}}€</span></p>
      </a>
    </li>
  {%endfor%}
  </ul>
  {%endif%}
{%endblock%}