{%extends 'base.html'%}
{%block mainblock%}
  <h2>BATTERIE:</h2>
  <ul>
    <li><a href="/strumenti/batterie/1">Batteria 1</a></li>
    <li><a href="/strumenti/batterie/2">Batteria 2</a></li>
    <li><a href="/strumenti/batterie/3">Batteria 3</a></li>
    <li><a href="/strumenti/batterie/4">Batteria 4</a></li>
    <li><a href="/strumenti/batterie/5">Batteria 5</a></li>
    <li><a href="/strumenti/batterie/6">Batteria 6</a></li>
    <li><a href="/strumenti/batterie/7">Batteria 7</a></li>
  </ul>
{%endblock%}