{%extends 'base.html'%}
{%block mainblock%}
  <h2 class="text-center mt-3">CHITARRE:</h2>
  {%if guitars%}
  <ul class="d-flex justify-start no-list-style">
  {%for g in guitars%}
    <li class="card">
      <a class="center-content" href="/strumenti/chitarre/{{g.id}}">
        <h3 class="card-title"> {{g.name}}</h3>
        <div class="card-image-wrapper">
          <img class="card-image" src="/static/images/{{g.image_url}}" alt="{{g.name}}">
        </div>
        <p class="card-price italic">Prezzo: <span class="semibold">{{g.price}}€</span></p>
      </a>
    </li>
  {%endfor%}
  </ul>
  {%endif%}
{%endblock%}