{%extends 'base.html'%}
{%block mainblock%}
  <h2>CHITARRE:</h2>
  <ul>
    <li><a href="/strumenti/chitarre/1">Chitarra 1</a></li>
    <li><a href="/strumenti/chitarre/2">Chitarra 2</a></li>
    <li><a href="/strumenti/chitarre/3">Chitarra 3</a></li>
    <li><a href="/strumenti/chitarre/4">Chitarra 4</a></li>
    <li><a href="/strumenti/chitarre/5">Chitarra 5</a></li>
    <li><a href="/strumenti/chitarre/6">Chitarra 6</a></li>
    <li><a href="/strumenti/chitarre/7">Chitarra 7</a></li>
  </ul>
{%endblock%}