{%extends 'base.html'%}
{%block mainblock%}
  {#this macro generates an input tag#}
  {%macro input(name, value='', type='text', size=20, step="1") -%}
    <input placeholder="{{name}}" type="{{type}}" name="{{name}}", value="{{value|e}}" size="{{size}}" step="{{step}}">
  {%- endmacro%}

  <form action="" method="post"  enctype="multipart/form-data">
    {{input('title')}}
    <textarea placeholder="descrizione" name="description"></textarea>
    {{input('price', type='number', step="0.01")}}
    <label for="date">Data Concerto</label>
    <input type="date" name="date" id="date">
    <input type="file" name="image" id="image">
    <button type="submit">Crea</button>
  </form>
  <p class="text-center mt-2 error-message"> {{message}}</p>
{%endblock%}