{%extends 'base.html'%}
{%block mainblock%}
<section>
  <h1>Benvenuto!</h1>
  <h2>pagina: {{page_title}}</h2>
  {%block strumenti_list%}
    <h2>STRUMENTI:</h2>
    <ul class="d-flex justify-between no-list-style">
      {%for i in range(4)%}
      <li class="card">
        <a class="center-content" href="/strumenti/chitarre/{{i + 1}}">
          <h3 class="card-title"> Chitarra {{i + 1}}</h3>
          <div class="card-image-wrapper">
            <img class="card-image" src="/static/default.jpg" alt="Chitarra {{i + 1}}">
          </div>
          <p class="card-price italic">Prezzo: <span class="semibold">200.00€</span></p>
        </a>
      </li>
      {%endfor%}
      {%for i in range(4)%}
      <li class="card">
        <a class="center-content" href="/strumenti/batterie/{{i + 1}}">
          <h3 class="card-title"> Batteria  {{i + 1}}</h3>
          <div class="card-image-wrapper">
            <img class="card-image" src="/static/default.jpg" alt="Batteria {{i + 1}}">
          </div>
          <p class="card-price italic">Prezzo: <span class="semibold">200.00€</span></p>
        </a>
      </li>
      {%endfor%}
      {%for i in range(4)%}
      <li class="card">
        <a class="center-content" href="/strumenti/bassi/{{i + 1}}">
          <h3 class="card-title"> Basso  {{i + 1}}</h3>
          <div class="card-image-wrapper">
            <img class="card-image" src="/static/default.jpg" alt="Basso {{i + 1}}">
          </div>
          <p class="card-price italic">Prezzo: <span class="semibold">200.00€</span></p>
        </a>
      </li>
      {%endfor%}

      
    </ul>
  {%endblock%}

  {%block concerti_list%}
    <h2>CONCERTI:</h2>

    <ul class="d-flex justify-between no-list-style">
      
      {%for i in range(12)%}
      <li class="card">
        <a class="center-content" href="/concerti/{{i + 1}}">
          <h3 class="card-title"> Concerto  {{i + 1}}</h3>
          <div class="card-image-wrapper">
            <img class="card-image" src="/static/default.jpg" alt="Concerto {{i + 1}}">
          </div>
          <p class="card-price italic">Prezzo: <span class="semibold">200.00€</span></p>
        </a>
      </li>
      {%endfor%}
      
    </ul>
  {%endblock%}

</section>
{%endblock%}