{%extends 'base.html'%}
{%block mainblock%}

  {%block welcome_home_block%}
  <section id="welcome-home-hero" class="m-auto mt-6 text-center music-centre-border">
    <h1 class="mt-4 mb-2">Benvenut* da MUSIC CENTRE</h1>
    <p class="mb-1">Qui puoi trovare molti strumenti musicali, con la loro descrizione e prezzo.</p>
    <p class="mb-4">Inoltre spesso si svolgono dei concerti qui allo store e nella sezione "CONCERTI" puoi trovare gli ultimi spettacoli in arrivo con prezzo del biglietto e descrizione.</p>
  </section>
  {%endblock%}

  {%block strumenti_list%}
  <section class="mb-3 mt-3">

      <h2 class="text-center">STRUMENTI:</h2>
      {%if instruments%}
      <ul class="d-flex justify-start no-list-style">
        {%for i in instruments%}
        <li class="card">
          <a class="center-content" href="/strumenti/chitarre/{{i.id}}">
            <h3 class="card-title"> {{i.name}}</h3>
            <div class="card-image-wrapper">
              <img class="card-image" src="/static/images/{{i.image_url}}" alt="{{i.image_url}}">
            </div>
            <p class="card-price italic">Prezzo: <span class="semibold">{{i.price}}€</span></p>
          </a>
        </li>
        {%endfor%}
      </ul>
      {%endif%}
    </section>
  {%endblock%}

  {%block concerti_list%}
  <section class="mt-3 mb-3">
      <h2 class="text-center">CONCERTI:</h2>
      {%if concerts%}
      <ul class="d-flex justify-start no-list-style">
        {%for c in concerts%}
        <li class="card">
          <a class="center-content" href="/concerti/{{c.id}}">
            <h3 class="card-title"> {{c.title}}</h3>
            <div class="card-image-wrapper">
              <img class="card-image" src="/static/images/{{c.image_url}}" alt="{{c.title}}">
            </div>
            <p class="card-price italic">Prezzo: <span class="semibold">{{c.price}}€</span></p>
          </a>
        </li>
        {%endfor%}
      </ul>
      {%endif%}
    </section>
  {%endblock%}

{%endblock%}