{%extends 'base.html'%}
{%block mainblock%}
<section>
  <h1>Benvenuto!</h1>
  <h2>pagina: {{page_title}}</h2>
  {%block strumenti_list%}
    <h2>STRUMENTI:</h2>
    <ul>
      <li><a href="/strumenti/chitarre/1">Chitarra 1</a></li>
      <li><a href="/strumenti/batterie/1">Batteria 1</a></li>
      <li><a href="/strumenti/bassi/1">Basso 1</a></li>
      <li><a href="/strumenti/chitarre/2">Chitarra 2</a></li>
      <li><a href="/strumenti/batterie/3">Batteria 3</a></li>
    </ul>
  {%endblock%}

  {%block concerti_list%}
    <h2>CONCERTI:</h2>
    <ul>
      <li><a href="/concerti/1">Concerto 1</a></li>
      <li><a href="/concerti/2">Concerto 2</a></li>
      <li><a href="/concerti/3">Concerto 3</a></li>
      <li><a href="/concerti/4">Concerto 4</a></li>
      <li><a href="/concerti/5">Concerto 5</a></li>
    </ul>
  {%endblock%}

</section>
{%endblock%}