{%extends 'base.html'%}
{%block mainblock%}
  {# qui mostriamo la card singola per ogni entità #}
  <article class="center-content text-center">
    <div class="card-show d-flex justify-between">

      <div class="card-detail-image-wrapper">
        <img class="card-image" src="/static/default.jpg" alt="{{item_name}}"/>
      </div>

      <div class="card-info">
        <h1 class="card-detail-title">{{item_name}}</h1>
        <p class="card-detail-description">{{item_content}}</p>
        <p class="card-detail-price italic">Prezzo: <span class="semibold">200.00€</span></p>
      </div>
    </div>
  </article>
{%endblock%}